.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item {
    text-decoration:  none;
    list-style: none;
    margin-right: 2rem;
    color: white;
}
.item:hover {
    text-decoration: underline;
}

.logo_text {
    font-size: 2rem;
    font-weight: 900;
}